.field {
  --fieldInputHeight: var(--input-height);
  --fieldInputTextColor: var(--color-dark);
  --fieldInputColorBg: var(--color-light);
  --fieldInputBorderColor: var(--color-dark);
  --fieldInputPlaceholderColor: var(--color-gray-alt);
  --fieldInputHoverBgColor: var(--color-accent);

  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;

  @include mobile-media {
    row-gap: 10px;
  }
  &--big-height {
    --fieldInputHeight: var(--button-height);
  }
  &--dark-bg {
    --fieldInputColorBg: var(--color-gray-alt);
    --fieldInputBorderColor: var(--color-light);
    --fieldInputPlaceholderColor: var(--color-light);
    --fieldInputHoverBgColor: var(--color-dark);
    --fieldInputTextColor: var(--color-accent);
  }
  &__label {
    @include fluid-text(16, 14);
  }
  &__input {
    width: 100%;
    padding-inline: 30px;
    height: var(--fieldInputHeight);
    color: var(--fieldInputTextColor);
    background-color: var(--fieldInputColorBg);
    border: 1px solid var(--fieldInputBorderColor);
    border-radius: var(--border-radius);

    @include hover {
      background-color: var(--fieldInputHoverBgColor);
    }
    @include mobile-media {
      padding-inline: 20px;
    }
    &:focus {
      border-color: var(--color-accent);
      outline: none;
    }
    &::placeholder {
      @include fluid-text(18, 16);
      color: var(--fieldInputPlaceholderColor);
    }
    &--textarea {
      height: 190px;
      padding: 18px;
      resize: vertical;
      @include mobile-media {
        height: 132px;
      }
    }
  }
}
