.test-text {
  @include fluid-text(50, 16);
  font-family: var(--font-family-base);
  color: red;
}
.svg-image {
  margin-inline: auto;
  border-radius: 50%;
}
.image {
  margin-inline: auto;
  border-radius: 50%;
}
.link {
  @include reset-link;
}
