@import "./base/_fonts.scss";

body {
  background-color: aqua;
}
.test-text {
  font-size: 40px;
  font-family: "Space Grotesk";
}
.svg-image {
  margin-inline: auto;
  border-radius: 50%;
}
.image {
  margin-inline: auto;
  border-radius: 50%;
}
